extends base

block meta
    title 検索結果【集合駅検索】
    meta(name="robots", content="noindex,follow")

block import
    script(type="text/javascript", src="javascripts/result.js")
    script(type="text/javascript", src="javascripts/common/backbutton.js")
    script(type="text/javascript", src="vendor/clipboard.js-master/dist/clipboard.min.js")

    // modal dialog resources
    script(type="text/javascript", src="vendor/modaal-0.4.4/dist/js/modaal.min.js")
    link(rel="stylesheet", media="screen", href="vendor/modaal-0.4.4/dist/css/modaal.min.css")

    script(type="text/javascript").
        $(function(){
            mp.resultControl.init();
            mp.backbuttonControl.init();
        });

block content
    .panel.panel-primary
        .panel-heading 検索結果
        .panel-body
            table.table.table-bordered.table-condensed
                caption 集合駅候補
                    if middlePointStations.length > 0
                        tr.active
                            th 駅名
                            th 路線名
                            th 近くのお店

                        each stationData, idx in middlePointStations
                            tr
                                td #{stationData.stationName}
                                td #{stationData.lineName}
                                td
                                    a.btn.btn-primary.btn-xs(href="#mp-dialog", class="mp-dialog-show", data-station_lon="#{stationData.lon}", data-station_lat="#{stationData.lat}") 検索
                    else
                        tr
                            td.mp-notfoundmsg 中間地点付近に駅がありませんでした。

            // line share
            table.table.table-bordered.table-condensed
                caption 検索結果を共有
                tr
                    td
                        ul.nav.nav-pills
                            li
                                // clipboard
                                input#mp-copybutton.btn.btn-primary.btn-xs(type="button", value="共有用URLをコピー", data-clipboard-text="http://meeting-place.shibatar.net")
                            li
                                // line
                                .line-it-button(data-lang="ja", data-type="share-a", data-url="http://meeting-place.shibatar.net", style="display: none;")
                                script(src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js", async="async", defer="defer")

            // add: m2_smartphone_inline
            script(src="//adm.shinobi.jp/s/9daafb13222f4e0f73b125940067945d")

            table.table.table-bordered.table-condensed
                caption 検索に使用した駅
                tr
                    td #{userInputStations}

            input#mp-backbutton.btn.btn-primary(type="button", value="入力画面へ戻る")

    // modal dialog
    div(id="mp-dialog",style="display:none;")
        .mp-dialog-content
        input#mp-dialog-closebutton.btn.btn-primary(type="button", value="閉じる")